.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 17px;
    margin-top: 45px;
}

.title {
    margin-top: 91px;
    width: 142px;
    height: 40px;
}

input {
    display: flex;
    width: 342.603px;
    height: 50.714px;
    padding-left: 19px;
    align-items: center;
    border-radius: 11.27px;
    border: 0.5px solid #CFCFCF;
    background: #FFF;
}

.login_btn {
    display: flex;
    width: 342.603px;
    height: 50.714px;
    justify-content: center;
    align-items: center;
    gap: 11.27px;
    border-radius: 11.27px;
    background: #F4762C; 
    border: none;
    color: #FFF;
    margin-top: 100px;
}