.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.acorn-count {
    font-size: 16px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 24px;
    top: 16px;
    font-weight: bold;
}

.acorn-count img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.add-task {
    font-size: 28px;
    cursor: pointer;
    position: absolute;
    right: 24px;
    top: 8px; /* "오늘의 할 일" 오른쪽에 배치 */
    transform: translateY(-50%);
}

#logo-img {
    display: inline-block;
    vertical-align: middle;
}

#logo-img img {
    width: 100px; /* 로고 크기 조정 */
}

.task-title {
    font-size: 18px;
    font-weight: bold;
    padding: 0 24px;
    position: relative;
}


.task-list {
    flex-grow: 1;
    margin-top: 20px;
    padding: 0 24px;
    overflow-y: auto; /* 일정이 많아질 경우 스크롤 가능 */
}

/* 공통적으로 적용할 일정 항목의 width */
.task {
    width: 320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.task h4 {
    margin: 0;
    font-size: 14px;
    flex-grow: 1;
    margin-left: 10px;
}

.task button {
    border: none;
    color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    font-size: 14px;
    flex-shrink: 0;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}


.task button.completed {
    background-color: green; /* 체크 완료된 버튼 색상 */
}

.time {
    font-size: 14px;
    margin-right: 10px;
}

.due-time {
    color: gray;
    font-size: 12px;
    margin-left: 10px;
}

.highlight-title {
    font-size: 18px;
    font-weight: bold;
    color: #F28E36;
    margin-top: 20px;
    padding: 0 24px;
}
